In [2]:
%cd ../../

/Users/riccardotedoldi/Desktop/projectHMD/Jobify

In [1]:
import pandas as pd

In [5]:
# Load the data
PATH_DATA = 'data/KB_user_profiles.csv.gz'
df = pd.read_csv(PATH_DATA, compression='gzip')
df.head(10)

,name,surname,gender,mansion,category,category_id,description,salary,skills
0,Alice,Smith,0,Healthcare Information Technology (IT) Specialist,healthcare,23,"I am Alice Smith, a Healthcare Information Tec...",6194,"Cross-functional Collaboration, Complexity Man..."
1,Alice,Johnson,0,Logistics Manager,infrastructure,25,"Presenting myself as Alice Johnson, I hold the...",787,"Systems Awareness, Social Entrepreneurship, In..."
2,Alice,Williams,0,Content Marketing Manager,media,11,"I go by Alice Williams, occupying the Content ...",1844,"Negotiation Skills, Conflict Resolution, Futur..."
3,Alice,Jones,0,Drummer,music,18,"A Drummer known by the name Alice Jones, I am ...",3606,"Conflict Management, Attention to Detail, Tole..."
4,Alice,Brown,0,Novelist,arts,1,"I am Alice Brown, a Novelist proactive marketi...",1185,"Problem Sensitivity, Resilient Leadership, Cog..."
5,Alice,Davis,0,Actress,arts,1,"Alice Davis, residing in the Actress of cybers...",4942,"Social Entrepreneurship, Conflict Transformati..."
6,Alice,Miller,0,Nurse Manager,healthcare,23,"I am Alice Miller, a Nurse Manager adaptive so...",3336,"Cross-Cultural Competence, Conflict Transforma..."
7,Alice,Wilson,0,Medical Records Clerk,healthcare,23,"I am Alice Wilson, a Medical Records Clerk dyn...",1657,"Relationship Building, Conflict Resolution, Co..."
8,Alice,Moore,0,Chef de Cuisine,hospitality,8,"Alice Moore, residing in the Chef de Cuisine o...",1942,"Time Management, Autonomous Decision-Making, I..."
9,Alice,Taylor,0,IT Help Desk Technician,technology,5,"I am Alice Taylor, a IT Help Desk Technician d...",6329,"Interdisciplinary Collaboration, Analytical Th..."