# Genearate user professional profile

Here we will generate the user professional profile based on the user's... The functions in the utils.py file will be used to generate the user professional profile. All the profiles aren't autehntic and are generated randomly. The description for each profile are produced using ChatGPT, leveraging what the user has written in their profile.

In [1]:
%cd ../../

/Users/riccardotedoldi/Desktop/projectHMD/Jobify

In [2]:
import utils.config as config
import utils.utils as utils

import pandas as pd
import random

from transformers import AutoTokenizer, AutoModel
import torch

from tqdm import tqdm

In [3]:
device = 'mps' if torch.backends.mps.is_available() else 'cpu'
device

'mps'

In [4]:
df_mansion_category = utils.get_category_df_mansion_txt_id_category()

name_surname_gender_mansion = utils.get_combinations_name_surname_gender_mansion(df_mansion_category)
print(len(name_surname_gender_mansion))#, name_surname_gender_mansion[:10])

name_surname_gender_mansion = utils.fill_all_slots_salary_faiss(name_surname_gender_mansion)

# save df 
# name_surname_gender_mansion.to_csv('data/KB_user_profiles.csv', index=False)

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
425it [00:31, 13.64it/s]

97325

97325it [00:10, 9498.87it/s]

In [5]:
name_surname_gender_mansion

,name,surname,gender,mansion,category,category_id,experience_years,description,minimum salary,skills,city,country,remote_hybrid_office,relocation,current_company,part_full_time,junior_senior,level_education
0,Alice,Smith,0,Healthcare Information Technology (IT) Specialist,healthcare,19,2,"I am Alice Smith, a Healthcare Information Tec...",33000 USD,"Ethical Decision-Making, Cognitive Diversity, ...",Jakarta,Indonesia,hybrid,no,PinnacleEnergy Solutions,part time,junior,master
1,Alice,Johnson,0,Logistics Manager,infrastructure,16,8,"Presenting myself as Alice Johnson, I hold the...",23000 USD,"Conflict Transformation, Resilience, Relations...",Islamabad,Pakistan,remote,no,BlueSkyDigital Media,part time,junior,postdoc
2,Alice,Williams,0,Content Marketing Manager,media,22,8,"I go by Alice Williams, occupying the Content ...",75000 USD,"Systems Integration, Autonomous Decision-Makin...",Edinburgh,United Kingdom,remote,yes,TechNexRobotics,full time,senior,phd
3,Alice,Jones,0,Drummer,music,1,6,"A Drummer known by the name Alice Jones, I am ...",138000 USD,"Intrapreneurship, Team Empowerment, Future Thi...",Ljubljana,Slovenia,remote,no,FutureWaveInnovations,part time,senior,phd
4,Alice,Brown,0,Novelist,arts,14,9,"I am Alice Brown, a Novelist tenacious project...",64000 USD,"Change Adaptability, Global Perspective, Relat...",Delhi,India,hybrid,yes,Innovate Marketing Strategies,part time,senior,postdoc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97320,Leander,Little,0,Certified Nurse Midwife,healthcare,19,7,"I am Leander Little, a Certified Nurse Midwife...",52000 USD,"Conflict Management, Negotiation, Change Adapt...",Lima,Peru,hybrid,yes,ConnectSphereTelecommunications,full time,senior,master
97321,Leander,Burton,0,Dean,education,7,9,"I am Leander Burton, a Dean dedicated marketin...",77000 USD,"Initiative, Motivational Leadership, Interdisc...",Mumbai,India,hybrid,yes,SynthSoftSoftware Solutions,full time,junior,postdoc
97322,Leander,Stanley,0,HRIS Specialist,healthcare,19,10,"I am Leander Stanley, a HRIS Specialist proact...",40000 USD,"Cross-functional Collaboration, Systems Approa...",Lima,Peru,office,yes,SynthSoftSoftware Solutions,part time,senior,bachelor
97323,Leander,Nguyen,0,Educational Researcher,education,7,0,"Leander Nguyen, residing in the Educational Re...",142000 USD,"Intuitive Decision-Making, Social Intelligence...",Rio de Janeiro,Brazil,remote,yes,GlobalPharmaHealth Solutions,part time,senior,postdoc
97324,Leander,George,0,Project Manager,infrastructure,16,0,"I am Leander George, a Project Manager resourc...",72000 USD,"Foresight, Intrapreneurship, Storytelling, Soc...",Sydney,Australia,hybrid,no,DataDrivenSecurity Systems,full time,senior,phd

In [8]:
n_random_rows = 35000

# sample randomply some rows
name_surname_gender_mansion.sample(n_random_rows).to_csv('data/KB_user_profiles.csv', index=False)

In [4]:
name_surname_gender_mansion.to_csv('data/KB_user_profiles.csv.gz', index=False, compression='gzip')

In [ ]:
import gzip
with gzip.open('data/KB_user_profiles.csv.gz', 'rb') as f:
    file_content = f.read()
    print(len(file_content))

In [5]:
name_surname_gender_mansion.head(10)

,name,surname,gender,mansion,category,category_id,description,salary,skills,city,country,remote_hybrid_office,relocation,current_company,part_full_time,junior_senior,experience_years,level_education
0,Alice,Smith,0,Healthcare Information Technology (IT) Specialist,healthcare,7,"I am Alice Smith, a Healthcare Information Tec...",1968,"Cross-functional Collaboration, Complexity Man...",Nairobi,Kenya,1,1,HealthTechInnovations,0,0,11,1
1,Alice,Johnson,0,Logistics Manager,infrastructure,22,"Presenting myself as Alice Johnson, I hold the...",3608,"Systems Awareness, Social Entrepreneurship, In...",Havana,Cuba,0,1,PinnacleLogix Logistics,1,0,3,0
2,Alice,Williams,0,Content Marketing Manager,media,5,"I go by Alice Williams, occupying the Content ...",3465,"Negotiation Skills, Conflict Resolution, Futur...",Riyadh,Saudi Arabia,2,0,ConnectSphereTelecommunications,1,0,7,1
3,Alice,Jones,0,Drummer,music,17,"A Drummer known by the name Alice Jones, I am ...",4978,"Conflict Management, Attention to Detail, Tole...",Lima,Peru,2,1,ConnectXTelecom Telecommunications,1,1,18,0
4,Alice,Brown,0,Novelist,arts,9,"I am Alice Brown, a Novelist creative UX/UI de...",1603,"Problem Sensitivity, Resilient Leadership, Cog...",Sydney,Australia,2,0,GreenTechInnovations,0,1,3,0
5,Alice,Davis,0,Actress,arts,9,"Alice Davis, residing in the Actress of cybers...",5702,"Social Entrepreneurship, Conflict Transformati...",Manama,Bahrain,1,0,BlueSkyDigital Media,0,1,5,1
6,Alice,Miller,0,Nurse Manager,healthcare,7,"I am Alice Miller, a Nurse Manager dynamic pro...",6567,"Cross-Cultural Competence, Conflict Transforma...",Kyiv,Ukraine,1,0,UnitedManufacture Systems,1,0,20,0
7,Alice,Wilson,0,Medical Records Clerk,healthcare,7,"I am Alice Wilson, a Medical Records Clerk met...",832,"Relationship Building, Conflict Resolution, Co...",Wellington,New Zealand,1,1,DataQuestAnalytics,1,0,19,3
8,Alice,Moore,0,Chef de Cuisine,hospitality,0,"Alice Moore, residing in the Chef de Cuisine o...",3589,"Time Management, Autonomous Decision-Making, I...",Mumbai,India,2,0,Apex Financial Services,1,1,20,2
9,Alice,Taylor,0,IT Help Desk Technician,technology,18,"I am Alice Taylor, a IT Help Desk Technician i...",5904,"Interdisciplinary Collaboration, Analytical Th...",Tokyo,Japan,1,0,InnovateHealth Pharmaceuticals,0,1,8,1